@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  /* Make Archivo the default (and only) font */
  --font-sans: "Archivo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-Achivo: "Archivo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-Inter: "Archivo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --animate-marquee: marquee 30s linear infinite;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

/* Prevent white flash on page load */
body,
html {
  background-color: #000000;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

* {
  box-sizing: border-box;
}
