@import "tailwindcss";

@theme {
  --font-Achivo: "Archivo Black", sans-serif;
  --font-Inter: "Inter", sans-serif;
}

/* Prevent white flash on page load */
body,
html {
  background-color: #000000;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  scroll-behavior: smooth;
}
